<div class="egreso">
    <h2 class="egreso_titulo">Egresos</h2>
       
        
        <div class="elemento limpiarEstilos" *ngFor="let egreso of egresos">
            <div class="elemento_descripcion">{{egreso.descripcion}}</div>
            <div class="right limpiarEstilos">
                <div class="elemento_valor">- {{egreso.valor | currency: 'COP':'$':'1.2-2'}}</div>
                <div class="elemento_porcentaje">{{egreso.valor / ingresoTotal | percent}}</div>
                <div class="elemento_eliminar">
                    <button class="elemento_eliminar--btn">
                        <!-- <i class="ion-ios-close-outline"></i> -->
                        <ion-icon name="close-circle-outline" (click) = "eliminarEgreso(egreso)"></ion-icon>
                    </button>
                </div>
            </div>
        </div>

</div>